*.iml
/*.ipr

.gradle
/local.properties

# Ignore .idea as Gradle is the source of truth
/.idea/*
!/.idea/codeStyles

.DS_Store
.kotlin/
kotlin-js-store/
build
out
/captures
.externalNativeBuild
.cxx
local.properties
